.rightbar {
  flex: 3.5;
}

.rightbar-wrapper {
  padding: 20px 20px 0 0;
  margin-left: 15px;
}

.birthday-container {
  display: flex;
  align-items: center;
}

.birthday-img {
  width: 40px;
  height: 40px;
}

.birthday-text {
  font-weight: 300;
}

.rightbar-ad {
  width: 100%;
  border-radius: 10px;
  margin: 30px 10px;
}

.rightbar-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.rightbar-friend-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rightbar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbar-profile-img-container {
  margin-right: 10px;
  position: relative;
}

.rightbar-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbar-online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: -2px;
  border: 2px solid white;
}

.rightbar-info {
  margin-bottom: 30px;
}

.rightbar-info-item {
  margin-bottom: 10px;
}

.rightbar-info-key {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbar-info-value {
  font-weight: 300;
}

.rightbar-following-list {
  display:  flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rightbar-following {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbar-following-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

